/*Login*/
:root {
    --input-linear: linear-gradient(120deg, #F75590, #00C2CB);
    --input-error: red;
    --button-linear: linear-gradient(120deg, #F75590, #00C2CB, #F75590);
    --button-disabled: #acacac;
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --ligth-gray: cfcfcf;
    --border-heigth: 1px;

}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: linear-gradient(120deg, #4b4c4d, #4b4c4d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    min-height: 400px;
    width: 300px;
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login__input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login__input-border {
    height: 1px;
    width: 90%;
    margin: 10px;
    background-color: #ffffff;
    transition: 3. ease-in-out;
}

.login__input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background-color: white; 
    transition: .3s ease-in-out;
}

.login__input + .login__input-border::after {
    width: 100%;
}

.login__input-border.error {
    background: var(--input-error);
}

.login__submit {
    height: 48px;
    width: 100%;
    outline: none;
    background: linear-gradient(120deg);
    background-size: 200%;
    margin-bottom: 32px;
    background-color: red;
    transition: .3s ease-in-out;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
    color: white;
}

.login__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login__submit:hover {
    background-position: right;
}

.login__reset {
    font-size: 12px;
    color: #307ea1;
    text-decoration: none;
}

/*Pagina Home*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}

.wrapper .sidebar{
    background: rgb(2, 3, 3);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(10, 11, 12);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #e1ebed;
}

body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

